[project]
	description = git 101
[access "refs/*"]
	owner = group user/ahwindstream (ahwindstream)
[access "refs/for/refs/*"]
	read = group user/ahwindstream (ahwindstream)
	push = group user/ahwindstream (ahwindstream)
	label-Code-Review = -2..+2 group user/ahwindstream (ahwindstream)
	label-Verified = -1..+1 group user/ahwindstream (ahwindstream)
	rebase = group user/ahwindstream (ahwindstream)
	removeReviewer = group user/ahwindstream (ahwindstream)
	submit = group user/ahwindstream (ahwindstream)
[access "refs/heads/*"]
	read = group user/ahwindstream (ahwindstream)
	create = group user/ahwindstream (ahwindstream)
	push = +force group user/ahwindstream (ahwindstream)
	pushMerge = group user/ahwindstream (ahwindstream)
[access "refs/tags/*"]
	push = +force group user/ahwindstream (ahwindstream)
	pushTag = group user/ahwindstream (ahwindstream)
	pushSignedTag = group user/ahwindstream (ahwindstream)
